:root {
  --text-secondary: #2c2c2c;
  --bg-primary: #f9f9f9;
  --bg-secondary: #eeeeee;
  --bg-price: #373737;
  --color-primary: #fff;
  --color-secondary: #0F52BA;

  text-rendering: optimizeLegibility;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  background: var(--bg-secondary);
}